---
http_interactions:
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<TRACKER_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "id": 1075504,
            "kind": "project",
            "name": "Logie and Clowes TrackerHub Project",
            "version": 19,
            "iteration_length": 1,
            "week_start_day": "Monday",
            "point_scale": "0,1,2,3",
            "point_scale_is_custom": false,
            "bugs_and_chores_are_estimatable": false,
            "enable_planned_mode": false,
            "enable_tasks": true,
            "time_zone": {
              "kind": "time_zone",
              "olson_name": "America/Los_Angeles",
              "offset": "-07:00"
            },
            "velocity_averaged_over": 3,
            "number_of_done_iterations_to_show": 12,
            "has_google_domain": false,
            "enable_incoming_emails": true,
            "initial_velocity": 10,
            "public": false,
            "atom_enabled": false,
            "start_time": "2014-05-05T07:00:00Z",
            "created_at": "2014-05-07T19:10:14Z",
            "updated_at": "2014-05-07T19:45:55Z",
            "account_id": 622224,
            "current_iteration_number": 1,
            "enable_following": true
          },
          {
            "id": 1067890,
            "kind": "project",
            "name": "Gluten Free App",
            "version": 135,
            "iteration_length": 1,
            "week_start_day": "Monday",
            "point_scale": "0,1,2,3",
            "point_scale_is_custom": false,
            "bugs_and_chores_are_estimatable": false,
            "enable_planned_mode": false,
            "enable_tasks": true,
            "time_zone": {
              "kind": "time_zo[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1075504/stories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<TRACKER_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '19'
      X-Tracker-Pagination-Total:
      - '7'
      X-Tracker-Pagination-Offset:
      - '0'
      X-Tracker-Pagination-Limit:
      - '100'
      X-Tracker-Pagination-Returned:
      - '7'
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "kind": "story",
            "id": 70885402,
            "created_at": "2014-05-06T07:00:00Z",
            "updated_at": "2014-05-07T22:30:32Z",
            "accepted_at": "2014-05-07T22:30:32Z",
            "estimate": 2,
            "story_type": "feature",
            "name": "As a user, I can view all of my projects",
            "description": "Given I'm on the homepage\nWhen I click on \"View Projects\"\nI see a list of all projects\n\n---\nUse your own API token. Make sure you don't commit it (dotenv-rails). (https://www.pivotaltracker.com/help/api#Basics)",
            "current_state": "accepted",
            "requested_by_id": 1256920,
            "project_id": 1075504,
            "url": "https://www.pivotaltracker.com/story/show/70885402",
            "owner_ids": [
              1256934
            ],
            "labels": [

            ],
            "owned_by_id": 1256934
          },
          {
            "kind": "story",
            "id": 70885404,
            "created_at": "2014-05-06T07:00:00Z",
            "updated_at": "2014-05-07T22:29:24Z",
            "accepted_at": "2014-05-07T22:30:37Z",
            "estimate": 1,
            "story_type": "feature",
            "name": "As a user, I can view all of the stories for a project",
            "description": "Given I'm go to the homepage\nWhen I click on a project\nI see a list of all of that pro[...]
[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1075504/stories/70885402/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<TRACKER_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '19'
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "kind": "comment",
            "id": 68662056,
            "story_id": 70885402,
            "text": "This is a test comment on the first story",
            "person_id": 534749,
            "created_at": "2014-05-06T00:00:00Z",
            "updated_at": "2014-05-07T19:09:20Z"
          },
          {
            "kind": "comment",
            "id": 68662058,
            "story_id": 70885402,
            "text": "This is a second test comment on the first story",
            "person_id": 534749,
            "created_at": "2014-05-06T00:00:00Z",
            "updated_at": "2014-05-07T19:09:20Z"
          }
        ]
  recorded_at: Thu, 08 May 2014 17:22:10 GMT
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1075504/stories/70885404/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<TRACKER_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '19'
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "kind": "comment",
            "id": 68684808,
            "story_id": 70885404,
            "text": "Commit by Rachel Logie\nhttps://github.com/rachellogie/trackerhub-app/commit/0666e31e6f5193725cec9b96ff1c820ba04cdd20\n\n[#70885404] User can view all the stories for a project\n\nSigned-off-by: Keri Clowes <kerilyn.clowes@gmail.com>",
            "person_id": 1256934,
            "created_at": "2014-05-07T22:18:40Z",
            "updated_at": "2014-05-07T22:18:40Z",
            "commit_identifier": "0666e31e6f5193725cec9b96ff1c820ba04cdd20",
            "commit_type": "github"
          }
        ]
  recorded_at: Thu, 08 May 2014 17:22:11 GMT
[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1075504/stories/70885414/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<TRACKER_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '19'
    body:
      encoding: UTF-8
      string: |-
        [

        ]
  recorded_at: Thu, 08 May 2014 17:22:12 GMT
recorded_with: VCR 2.9.0
