<ul>
  <% @project_hash.each do |thing| %>
    <% thing.each do |project_id, project_name| %>
      <li><a href="/projects/<%= project_id %>"><%= project_name %></a></li>
    <% end %>
  <% end %>
</ul>